etc/StudentRegistrationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IStudentAdministrationServiceService" targetNamespace="http://registar.example.camel.jkd.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registar.example.camel.jkd.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://registar.example.camel.jkd.org/" xmlns="http://registar.example.camel.jkd.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="student">
    <xs:sequence>
      <xs:element minOccurs="0" name="dob" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="nic" type="xs:string"/>
      <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceException" type="ServiceException"/>
  <xs:complexType name="ServiceException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="provideStudentDetails" type="provideStudentDetails"/>
  <xs:complexType name="provideStudentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="nic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="provideStudentDetailsResponse" type="provideStudentDetailsResponse"/>
  <xs:complexType name="provideStudentDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="student"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="register" type="register"/>
  <xs:complexType name="register">
    <xs:sequence>
      <xs:element minOccurs="0" name="student" type="student"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registerResponse" type="registerResponse"/>
  <xs:complexType name="registerResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="provideStudentDetails">
    <wsdl:part element="tns:provideStudentDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part element="tns:registerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part element="tns:ServiceException" name="ServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="register">
    <wsdl:part element="tns:register" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="provideStudentDetailsResponse">
    <wsdl:part element="tns:provideStudentDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IStudentAdministrationService">
    <wsdl:operation name="provideStudentDetails">
      <wsdl:input message="tns:provideStudentDetails" name="provideStudentDetails">
    </wsdl:input>
      <wsdl:output message="tns:provideStudentDetailsResponse" name="provideStudentDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="tns:register" name="register">
    </wsdl:input>
      <wsdl:output message="tns:registerResponse" name="registerResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceException" name="ServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IStudentAdministrationServiceServiceSoapBinding" type="tns:IStudentAdministrationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="provideStudentDetails">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="provideStudentDetails">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="provideStudentDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IStudentAdministrationServiceService">
    <wsdl:port binding="tns:IStudentAdministrationServiceServiceSoapBinding" name="IStudentAdministrationServicePort">
      <soap:address location="http://cnb01.aepona.com:8088/stureg"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>